---

---
<section class="mask-t-from-70% lg:flex lg:h-5/6 lg:place-content-center md:py-20 bg-[url('../../public/fondo!.webp')] backdrop-opacity-60 bg-no-repeat bg-cover bg-center mask-clip-padding border-3">
  <div class="mx-auto w-screen max-w-4/5 px-4 py-16 sm:px-6 sm:py-22 md:flex md:items-start md:justify-between md:gap-20 lg:px-8 lg:py-32">
    <div class="max-w-prose text-left">
      <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl dark:text-white uppercase">
        El sabor que te hará <strong class="text-red-600">salivar</strong> y
        <strong class="text-red-600">volver por más</strong>
      </h1>

      <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-gray-200">
        En tittos pizza, cada bocado es una explosión de sabor que te hará salivar y volver por más, gracias a nuestra masa crujiente, ingredientes frescos y combinaciones irresistibles. Ven y descubre por qué somos la elección número uno para los amantes de la pizza.
      </p>

      <div class="mt-4 flex gap-4 sm:mt-6">
        <a class="inline-block rounded border border-red-950 bg-red-500 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-red-700" href="#">
          Ver Menú
        </a>
      </div>
    </div>

    <!-- Solo cambié esta parte -->
    <div class="mt-12 md:mt-0 flex justify-center md:justify-end md:flex-shrink-0">
     <img
  class="w-full sm:w-full md:w-[500px] lg:w-[580px] xl:w-[870px] h-auto rounded-lg object-contain"
  src="/pizza.webp"
  alt="Pizza Tittos"
/>
    </div>

  </div>
</section>